html, body, main, section {
    width: 100vw;
    font-family: 'Dosis', 'Varela Round', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: clip;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}