body {
    background: #121212 center no-repeat fixed;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../media/car-8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 100vh;
}
#banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 10%;
    background-color: #121212cc;
}
#logo {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 118px);
    grid-template-rows: repeat(3, 118px);
    gap: 8px;
    padding: 48px;
    font-family: 'Orbitron';
    font-size: 48px;
}
#logo div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}
#glyph-0 {
    opacity: 23%;
}
#glyph-1 {
    opacity: 34%;
}
#glyph-2 {
    opacity: 45%;
}
#glyph-3 {
    opacity: 56%;
}
#glyph-4 {
    opacity: 67%;
}
#glyph-5 {
    opacity: 78%;
}
#glyph-6 {
    opacity: 89%;
}
#glyph-7 {
    opacity: 100%;
}
#glyph-8 {
    border: 2px solid crimson;
    color: crimson;
    background-color: transparent;
    animation: glow 1.5s infinite alternate ease-in;
}
@keyframes glow {
    from {
        text-shadow: none;
        color: hsla(348, 83%, 47%, 0.2);
        border-color: hsla(348, 83%, 47%, 0.2);
    }
    to {
        text-shadow: 0 0 8px crimson;
        color: crimson;
        border-color: crimson;
    }
}
#credits {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    font-family: 'Varela Round';
    color: #ffffff80;
}
#credits:hover #smallText, #credits:hover #largeText {
    color: #ffffffbf;
}
#smallText {
    width: 100%;
    text-align: right;
    font-size: 14px;
}
#largeText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-variant: small-caps;
}
#largeText i {
    margin-right: 8px;
    color: #6e5494;
}
.heading {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    padding: 24px 48px;
}
h2 {
    font-family: 'Orbitron';
    font-weight: 100;
    font-size: 95px;
    padding: 0 0 0 32px;
    border-left: 4px solid crimson;
}
#section-0 {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 70vh;
}
.slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 0; /* ! I have no idea why, but it works. Keep this at 0 */
    height: 100%;
    transition: flex 1.2s ease-in-out, transform 500ms ease-in-out;
    transform-origin: center;
    flex: 1;
    overflow: clip;
}
#slide-0 {
    background: url("../media/car-18.jpg") no-repeat center;
    background-size: cover;
    margin: -1px -1px -1px 0;
}
#slide-1 {
    background: url("../media/continental.jpg") no-repeat center;
    background-size: cover;
    margin: -1px -1px -1px -1px;
}
#slide-2 {
    background: url("../media/performance.jpg") no-repeat center;
    background-size: cover;
    margin: -1px -1px -1px -1px;
}
#slide-3 {
    background: url("../media/oldtimer.jpg") no-repeat center;
    background-size: cover;
    margin: -1px -1px -1px -1px;
}
#slide-4 {
    background: url("../media/components.jpg") no-repeat center;
    background-size: cover;
    margin: -1px 0 -1px -1px;
}
.ui-hint {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212cc;
    width: 100%;
    height: 100%;
}
.ui-hint span {
    font-size: 48px;
    font-variant: small-caps;
    color: #ffffff;
}
.description {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 33.33%;
    height: 100%;
    opacity: 0;
    background-color: #ffffff;
    color: #121212;
    overflow-x: hidden;
    transition: all 1s;
    transform: translateX(-100%);
}
.category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.category h3 {
    font-size: 48px;
    font-variant: small-caps;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 100%;
    height: 100%;
}
.info p {
    width: 15vw;
}
.explore {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 24px;
}
.link-btn {
    font-variant: small-caps;
    width: 100%;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #121212;
    color: #121212;
}
.link-btn:hover {
    background-color: #121212;
    color: white;
}
.close-btn {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    font-size: 30px;
    color: #121212cc;
}
.close-btn:hover {
    color: crimson;
}
#section-2 {
    width: 100%;
    height: 100vh;
    background-image: url('../media/vintage-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#shades {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(50, 50, 50, 0.8);
}
iframe {
    width: 70%;
    height: 70%;
}
h2 span {
    color: crimson;
}
footer {
    width: 100%;
    height: 50vh;
}
#links{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr max-content;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 35, 40);
    font-family: 'Varela Round';
    color: crimson;
}
#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
}
#menu, #contact, #about {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
footer ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
}
footer li {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
li a {
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
}
#menu a:hover {
    cursor: pointer;
    color: crimson;
}