
@font-face {
    font-family: "Orbitron";
    src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Varela Round";
    src: url(../fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-ExtraLight.ttf);
}
@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito-ExtraLight.ttf);
}
@font-face {
    font-family: "Spartan";
    src: url(../fonts/Spartan-Light.ttf);
}
/*
@font-face {
    font-family: "Sacramento";
    src: url(../fonts/Sacramento-Regular.ttf);
}
@font-face {
    font-family: "Satisfy";
    src: url(../fonts/Satisfy-Regular.ttf);
}
*/

/* Global Styling - HTML, Body, Pseudo-, Etc. */

html, body {
    width: 100vw;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: clip;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
    display: none;
}

/* Global Page Section Styling */

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

/* Front Cover Styling */

#section-0 {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../media/car-8.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 100vh;
}
#banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 10%;
    background-color: #121212cc;
}
#logo {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 118px);
    grid-template-rows: repeat(3, 118px);
    gap: 8px;
    padding: 48px;
    font-family: 'Orbitron';
    font-size: 48px;
}
#logo div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}
#glyph-0 { opacity: 23%; }
#glyph-1 { opacity: 34%; }
#glyph-2 { opacity: 45%; }
#glyph-3 { opacity: 56%; }
#glyph-4 { opacity: 67%; }
#glyph-5 { opacity: 78%; }
#glyph-6 { opacity: 89%; }
#glyph-7 { opacity: 100%; }
#glyph-8 {
    border: 2px solid crimson;
    color: crimson;
    background-color: transparent;
    animation: glow 1.5s infinite alternate ease-in;
}
@keyframes glow {
    from {
        text-shadow: none;
        color: hsla(348, 83%, 47%, 0.2);
        border-color: hsla(348, 83%, 47%, 0.2);
    }
    to {
        text-shadow: 0 0 8px crimson;
        color: crimson;
        border-color: crimson;
    }
}
#credits {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    font-family: 'Varela Round';
    color: #ffffff80;
}
#smallText {
    width: 100%;
    text-align: right;
    font-size: 14px;
}
#largeText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-variant: small-caps;
}
#credits:hover #smallText,
#credits:hover #largeText {
    color: #ffffffbf;
}
#largeText i {
    margin-right: 8px;
    color: #6e5494;
}

/* wip *//* Section 2 - Product Category Accordion *//* wip */
/* ! *//* Significant Performance Issues *//* ! */
/* ? *//* Consult Lighthouse Metrics - Target score: > 90 *//* ? */

#section-2 {
    font-family: 'Nunito';
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
    transition: flex 1s ease-in-out;
    transform-origin: center;
    flex: 1;
    overflow: clip;
}
#slide-0 {
    background: url("../media/car-18.jpg") no-repeat center;
    background-size: cover;
}
#slide-1 {
    background: url("../media/continental.avif") no-repeat center;
    background-size: cover;
}
#slide-2 {
    background: url("../media/performance.avif") no-repeat center;
    background-size: cover;
}
#slide-3 {
    background: url("../media/oldtimer.avif") no-repeat center;
    background-size: cover;
}
#slide-4 {
    background: url("../media/components.avif") no-repeat center;
    background-size: cover;
}
.ui-hint {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(0, 0%, 7%, 0.9);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ui-hint span {
    user-select: none;
    font-size: 2.5rem;
    font-variant: small-caps;
    color: #ffffff;
}
.description {
    position: absolute;
    left: 0;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 23.806vw;
    height: 100%;
    opacity: 0;
    background-color: #ffffff;
    color: #121212;
    overflow-x: clip;
    transition: all 1s ease-in-out;
    transform: translateX(-100%);
}
.description h2 {
    font-size: 2rem;
    text-transform: uppercase;

}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    width: 70%;
    height: 100%;
}
.link-btn {
    text-transform: uppercase;
    width: max-content;
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #121212;
    color: #121212;
}
.link-btn:hover {
    background-color: #121212;
    color: white;
}

/* wip *//* Section 3 Styling - Employee Cards *//* wip */

#section-3 {
    width: 100%;
    height: 100vh;
}

/* * *//* Section 4 Styling - Google Maps *//* * */

#section-4 {
    background-image: url('../media/vintage-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#section-4 .heading {
    width: 70%;
    height: 70%;
    padding-right: 3rem;
    border-right: 4px solid crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#section-4 .heading h1 {
    font-family: 'Orbitron';
    font-weight: 100;
    font-size: 7rem;
    text-transform: uppercase;
    text-align: right;
    text-indent: 3rem;
}
#filter {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: rgba(30, 35, 45, 0.7);
}
iframe#map-embed {
    width: 70%;
    height: 70%;
}
h1 span {
    color: crimson;
}

/* * *//* Page Footer Styling *//* * */

footer {
    scroll-snap-align: start;
    width: 100%;
    height: 50vh;
    font-family: 'Dosis';
    font-size: 1rem;
    color: antiquewhite;
}
footer a {
    color: antiquewhite;
}
footer a:hover {
    cursor: pointer;
    color: crimson;
}
#links{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr max-content;
    align-items: center;
    justify-items: center;
    background-color: rgb(30, 35, 40);
    box-shadow: inset 0 10px 14px hsla(210, 14%, 4%, 0.3), inset 0 -10px 14px hsla(210, 14%, 4%, 0.3);
}
#menu {
    font-weight: bold;
    width: 70%;
    height: 70%;
    display: grid;
    list-style-type: none;
    grid-template:
    "a e" 1fr
    "b f" 1fr
    "c g" 1fr
    "d h" 1fr / 1fr 1fr;
}
#menu .a { grid-area: a; }
#menu .b { grid-area: b; }
#menu .c { grid-area: c; }
#menu .d { grid-area: d; }
#menu .e { grid-area: e; }
#menu .f { grid-area: f; }
#menu .g { grid-area: g; }
#menu .h { grid-area: h; }
#menu li {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow {
    visibility: hidden;
    color: crimson;
}
#menu a:hover .arrow {
    visibility: visible;
}
#copyright {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round';
    font-size: 0.75rem;
    background-color: #121212;
}
#copyright .grid {
    width: fit-content;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
#webmaster, #webmaster a {
    display: flex;
    align-items: center;
    justify-content: center;
}
#foxLogo {
    cursor: pointer;
    height: 3em;
    transition: transform 500ms ease-in-out;
}
footer a:hover #foxLogo {
    transform: rotateZ(1turn);
}
